.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}
.navbar-brand {
    font-family: 'Rock Salt', cursive;
    font-size: xx-large;
}
