/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/united/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
  }
  
  .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }
  
  .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  
  .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  
  .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .member-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #E95420;
    position: relative;
  }
  
  .member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
  }
  
  .member-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  
  .member-tabset > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  body {
    background-color: #ff005e2e !important;
     
}
a {
  color: #e9206a;
}
.bg-primary {
  background-color: #e9206a !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}
.btn-primary {
  color: #fff;
  background-color: #e9206a;
  border-color: #e9206a;
}
.btn-primary:hover {
  color: #fff;
  background-color: #c5658d;
  border-color: #c5658d;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #c5658d;
  border-color: #c5658d;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #e9206a;
  border-color: #e9206a;
}
.btn-info {
  color: #fff;
  background-color: #8500ff;
  border-color: #8500ff;
}
.tab-panel {
  border: 1px solid #ff005e2e;
  padding: 10px;
  border-radius: 4px;
  background: #ffffff;
}
.btn-danger {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #c5658d;
  border-color: #c5658d;
}
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #ff005e2e;
  border-color: #ff005e2e;
  box-shadow: 0 0 0 0.2rem rgba(236,110,65,0.5);
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #ff005e2e;
}
.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #772953;
  position: relative;
}
.text-primary {
  color: #9d00ff !important;
}